@model List<ComputerShopSystem.Models.Device>
@{
    ViewBag.Title = "Index";
}

<h2>Devices</h2>
<br />
@Html.ActionLink("New Device", "DeviceForm", null, new { @class = "btn btn-primary" })


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Device
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@Html.ActionLink(device.Category.Name, "Edit", new { device.Id })</td>
            </tr>
        }
    </tbody>
</table>

