@model List<ComputerShopSystem.Models.Device>
@{
    ViewBag.Title = "Index";
}

<h2>Devices</h2>
<br />
@Html.ActionLink("New Device", "DeviceForm", null, new { @class = "btn btn-primary" })


<table id="devices" class="table table-hover">
    <thead>
        <tr>
            <th>Device Name</th>
            <th>Device Category</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#devices").DataTable({
                ajax: {
                    url: "/api/Device",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, device) {
                            return "<a href='/Device/Edit/" + device.Id + "'>" + device.Name + "</a>";
                        }
                    },
                    {
                        data: "Category.Name"
                    }
                ]
            });
        });
    </script>
}