@model ComputerShopSystem.ViewModel.DevicePropertiesViewModel
@{
    ViewBag.Title = "Device Properties";
}

<h2>Device Properties</h2>
@using (Html.BeginForm("SaveProperties", "Device"))
{
    @Html.EditorFor(x => x.DeviceProperties)
    <button class="btn btn-primary" type="submit">Save</button>
}