@model ComputerShopSystem.ViewModel.DevicePropertiesViewModel
@{
    ViewBag.Title = "Properties";
}

<h2>Properties</h2>
@using (Html.BeginForm("SaveProperty", "Device"))
{
    @Html.EditorFor(x => x.DeviceProperties)
    <button class="btn btn-primary" type="submit">Save</button>
}